* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas:  "navbar navbar navbar"
                          "course search search"
                          "course module lecturer"
                          "course description lecturer"
                          "footer footer footer"
                          ;
    
    grid-template-rows: 6vh 7vh 70vh 35vh 15vh;
    grid-template-columns: 0.30fr 1fr 0.40fr;
}

/*Navbar*/
.navbar {
    grid-area: navbar;
    position: fixed;
    top: 0;
    width: 97.1%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    z-index: 3;    
}

.navbar a {
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.navbar a:hover {
    border-bottom: solid 2px red; 
}

.active{
    border-bottom: solid 2px red; 
    font-weight: bolder;
}


.logo-container {
    display: flex;
    align-items: center;
    overflow: auto;
}

.logo-container :hover{
    cursor: pointer;
}

.logo-container img {
    max-width: 40px;
    margin-right: 10px;
    border-radius: 100px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.logo-text h2 {
    margin: 0;
    padding: 0;
    font-family: 'Cursive', sans-serif;
    color: white;
    font-size: 14px; 
}

.logo-text h3 {
    margin: 0;
    padding: 0;
    font-family: 'Cursive', sans-serif;
    color: red;
    font-size: 12px; 
}

.nav-left {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* SideNav */
/* .sidebar {
    height: calc(87% - 120px);
    width: 0;
    position: fixed;
    z-index: 1;
    top: 60px; 
    left: 0;
    background-color: whitesmoke;
    overflow-y: auto; 
    transition: 0.5s;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.sidebar h1 {
    color: rgb(124, 16, 16);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 10px; 
}

.sidebar .card {
    width: 80%;
    margin: 0.5em 0;
    padding: 0.5em; 
}

.toggle-strip {
    width: 20px; 
    height: calc(91.80% - 120px); 
    background-color: #111;
    position: fixed;
    top: 60px; 
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}

.toggle-strip i {
    color: white;
    font-size: 20px;
    transition: transform 0.5s;
}

.courses h1 {
    margin-bottom: 10px;
}

.CourseIcon {
    width: 30px;
    height: 30px; 
    background: #DA0037;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.card:hover .CourseIcon {
    box-shadow: 0 0 10px red;
}

.CourseIcon i {
    font-size: 1em; 
}

.card p {
    margin: 0.5em 0;
    font-size: 0.7em; 
    display: none;
    opacity: 0;
    transition: all .4s;
    z-index: 1;
}

.card:hover p {
    display: block;
    opacity: 1;
}

.card h3 {
    margin-top: 0.5em;
    z-index: 1;
    font-size: 1em;
}

.card::before, .card::after {
    content: "";
    position: absolute;
    background: #171717;
    width: 100%;
    height: 40%;
    z-index: 0;
    border-radius: 15px 15px 0 0;
    transition: all .4s;
}

.card::before {
    top: 0;
}

.card:hover::before {
    transform: translateY(-20px);
}

.card::after {
    bottom: 10px;
    height: 60%;
    border-radius: 0 0 15px 15px;
}

.card {
    width: 150px; 
    height: 120px; 
    color: white;
    margin: 0.5em 0;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1em; 
    text-align: center;
    cursor: pointer;
    position: relative;
} */




:root {
    --background: #f5f5f5;
    --sideNavbar-width: 256px;
    --sideNavbar-width-min: 80px;
    --sideNavbar-dark-primary: rgba(0, 0, 0, 0.85);
    --sideNavbar-dark-secondary: #2c3e50;
    --sideNavbar-light-primary: #f5f6fa;
    --sideNavbar-light-secondary: #8392a5;
}


body {
    background: var(--background);
}

#sideNav-toggle:checked~#sideNav-header {
    width: calc(var(--sideNavbar-width-min) - 16px);
}

#sideNav-toggle:checked~#sideNav-content,
#sideNav-toggle:checked~#sideNav-footer {
    width: var(--sideNavbar-width-min);
}

#sideNav-toggle:checked~#sideNav-header #sideNav-title {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

#sideNav-toggle:checked~#sideNav-header label[for=sideNav-toggle] {
    left: calc(50% - 8px);
    transform: translate(-50%);
}

#sideNav-toggle:checked~#sideNav-header #sideNav-toggle-burger {
    background: var(--sideNavbar-light-primary);
}

#sideNav-toggle:checked~#sideNav-header #sideNav-toggle-burger:before,
#sideNav-toggle:checked~#sideNav-header #sideNav-toggle-burger::after {
    width: 16px;
    background: var(--sideNavbar-light-secondary);
    transform: translate(0, 0) rotate(0deg);
}

#sideNav-toggle:checked~#sideNav-content .sideNav-button span {
    opacity: 0;
    transition: opacity 0.1s;
}

#sideNav-toggle:checked~#sideNav-content .sideNav-button .fas {
    min-width: calc(100% - 16px);
}

#sideNav-toggle:checked~#sideNav-footer #sideNav-footer-avatar {
    margin-left: 0;
    left: 50%;
    transform: translate(-50%);
}

#sideNav-toggle:checked~#sideNav-footer #sideNav-footer-titlebox,
#sideNav-toggle:checked~#sideNav-footer label[for=sideNav-footer-toggle] {
    opacity: 0;
    transition: opacity 0.1s;
    pointer-events: none;
}

#sideNav-bar {
    position: absolute;
    left: 1vw;
    margin-top:50px;
    top: 1vw;
    height: calc(95% - 2vw);
    background: var(--sideNavbar-dark-primary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    color: var(--sideNavbar-light-primary);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    user-select: none;
}

#sideNav-bar hr {
    margin: 0;
    position: relative;
    left: 16px;
    width: calc(100% - 32px);
    border: none;
    border-top: solid 1px var(--sideNavbar-dark-secondary);
}

#sideNav-bar a {
    color: inherit;
    text-decoration: inherit;
}

#sideNav-bar input[type=checkbox] {
    display: none;
}

#sideNav-header {
    position: relative;
    width: var(--sideNavbar-width);
    left: 16px;
    width: calc(var(--sideNavbar-width) - 16px);
    min-height: 80px;
    background: var(--sideNavbar-dark-primary);
    border-radius: 16px;
    z-index: 2;
    display: flex;
    align-items: center;
    transition: width 0.2s;
}

#sideNav-header hr {
    position: absolute;
    bottom: 0;
}

#sideNav-title {
    font-size: 1.5rem;
    transition: opacity 1s;
}

label[for=sideNav-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#sideNav-toggle-burger {
    position: relative;
    width: 16px;
    height: 2px;
    background: var(--sideNavbar-dark-primary);
    border-radius: 99px;
    transition: background 0.2s;
}

#sideNav-toggle-burger:before,
#sideNav-toggle-burger:after {
    content: "";
    position: absolute;
    top: -6px;
    width: 10px;
    height: 2px;
    background: var(--sideNavbar-light-primary);
    border-radius: 99px;
    transform: translate(2px, 8px) rotate(30deg);
    transition: 0.2s;
}

#sideNav-toggle-burger:after {
    top: 6px;
    transform: translate(2px, -8px) rotate(-30deg);
}

#sideNav-content {
    margin: -16px 0;
    padding: 16px 0;
    position: relative;
    flex: 1;
    width: var(--sideNavbar-width);
    background: var(--sideNavbar-dark-primary);
    box-shadow: 0 0 0 16px var(--sideNavbar-dark-primary);
    direction: rtl;
    overflow-x: hidden;
    transition: width 0.2s;
}

#sideNav-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#sideNav-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}

#sideNav-content::-webkit-scrollbar-button {
    height: 16px;
}

#sideNav-content-highlight {
    position: absolute;
    left: 16px;
    top: -70px;
    width: calc(100% - 16px);
    height: 54px;
    background: var(--background);
    background-attachment: fixed;
    border-radius: 16px 0 0 16px;
    transition: top 0.2s;
}

#sideNav-content-highlight:before,
#sideNav-content-highlight:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 100%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: 16px 16px var(--background);
}

#sideNav-content-highlight:after {
    top: 100%;
    box-shadow: 16px -16px var(--background);
}

.sideNav-button {
    position: relative;
    margin-left: 16px;
    height: 54px;
    display: flex;
    align-items: center;
    color: var(--sideNavbar-light-secondary);
    direction: ltr;
    cursor: pointer;
    z-index: 1;
    transition: color 0.2s;
}

.sideNav-button span {
    transition: opacity 1s;
}

.sideNav-button .fas {
    transition: min-width 0.2s;
}

.sideNav-button:nth-of-type(1):hover {
    color: var(--sideNavbar-dark-primary);
}

.sideNav-button:nth-of-type(1):hover~#sideNav-content-highlight {
    top: 16px;
}

.sideNav-button:nth-of-type(2):hover {
    color: var(--sideNavbar-dark-primary);
}

.sideNav-button:nth-of-type(2):hover~#sideNav-content-highlight {
    top: 70px;
}

.sideNav-button:nth-of-type(3):hover {
    color: var(--sideNavbar-dark-primary);
}

.sideNav-button:nth-of-type(3):hover~#sideNav-content-highlight {
    top: 124px;
}

.sideNav-button:nth-of-type(4):hover {
    color: var(--sideNavbar-dark-primary);
}

.sideNav-button:nth-of-type(4):hover~#sideNav-content-highlight {
    top: 178px;
}

#sideNav-bar .fas {
    min-width: 3rem;
    text-align: center;
}

#sideNav-footer {
    position: relative;
    width: var(--sideNavbar-width);
    height: 54px;
    background: var(--sideNavbar-dark-secondary);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;
    transition: width 0.2s, height 0.2s;
}

#sideNav-footer-heading {
    position: relative;
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
}

#sideNav-footer-avatar {
    position: relative;
    margin: 11px 0 11px 16px;
    left: 0;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    overflow: hidden;
    transform: translate(0);
    transition: 0.2s;
}

#sideNav-footer-avatar img {
    height: 100%;
}

#sideNav-footer-titlebox {
    position: relative;
    margin-left: 16px;
    width: 10px;
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
}

#sideNav-footer-subtitle {
    color: var(--sideNavbar-light-secondary);
    font-size: 0.6rem;
}

#sideNav-toggle:not(:checked)~#sideNav-footer-toggle:checked+#sideNav-footer {
    height: 30%;
    min-height: 54px;
}

#sideNav-toggle:not(:checked)~#sideNav-footer-toggle:checked+#sideNav-footer label[for=sideNav-footer-toggle] {
    transform: rotate(180deg);
}

label[for=sideNav-footer-toggle] {
    position: absolute;
    right: 0;
    width: 3rem;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;
}

#sideNav-footer-content {
    margin: 0 16px 16px 16px;
    border-top: solid 1px var(--sideNavbar-light-secondary);
    padding: 16px 0;
    color: var(--sideNavbar-light-secondary);
    font-size: 0.8rem;
    overflow: auto;
}

#sideNav-footer-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

#sideNav-footer-content::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #D62929;
}





/*Modules*/
.modules{
    grid-area: module;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    overflow-y: auto;
    padding: 20px 60px;
}
.modules::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.modules::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #1d1b1b;
}

.modules:-webkit-scrollbar-button {
    height: 16px;
}


.module-card{
    background-color: whitesmoke;
    height: 200px;
    width: 180px;
    margin: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.856);
    border: #333 1PX solid;
}

.module-card .module-header{
    border-bottom: #333 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    background-size: cover;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.module-card .module-header h1{
    color: white;
    background-color: rgba(0, 0, 0, 0.151);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.year1 .module-header{
    /* background-color: #2a8af8; */
    background-image: url(Images/BlueBackground.jpeg);
    
}

.year1 .card-content button{
    background-color: #4070F4;
}

.year2 .module-header{
    /* background-color: #2af857; */
    background-image: url(Images/GreenBackground.jpeg);

}

.year2 .card-content button{
    background-color: rgb(56, 175, 56);
}

.year3 .module-header{
    /* background-color: #e0ee1e; */
    background-image: url(Images/YellowBackground.jpeg);

}

.year3 .card-content button{
    background-color: rgb(226, 192, 42);
}

.year4 .module-header{
    /* background-color: #ee2c1e; */
    background-image: url(Images/RedBackground.jpeg);

}

.year4 .card-content button{
    background-color: rgb(216, 46, 46);
}

.module-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.card-content p{
    text-align: center;
    padding: 10px 7px;
}

.card-content button{
    border: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.year1 .card-content button:hover{
    background: #265DF2;
}

.year2 .card-content button:hover{
    background-color: rgb(48, 146, 48);
}

.year3 .card-content button:hover{
    background-color: rgb(218, 206, 39);
}

.year4 .card-content button:hover{
    background-color: rgb(179, 39, 39);
}

/*Searchbar and filter*/
.search{
    grid-area: search;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.searchBar{
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding: 14px;
    border-radius: 28px;
    width: 70%;
    transition: box-shadow 0.25s;
}

.searchBar:focus-within{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.search-input{
    color: #333333;
    font-size: 1.2em;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon{
    color: rgba(0, 0, 0, 0.5) ;
}

#filterContainer {
    grid-area: search;
    align-items: center;
    justify-content: center;
    background: #fcfbfb; 
    border-radius: 5px;
    width: 35%;
}

#filterContainer label {
    font-weight: bold;
    margin-right: 10px;
    color: #000;
}

#filterContainer select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #e41c1c;
    border-radius: 5px;
}



/*Lecturers*/
.lecturer{
    grid-area: lecturer;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    justify-content: space-around;
}
.lecturer::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.lecturer::-webkit-scrollbar-thumb {
    border-radius: 99px;
    background-color: #1d1b1b;
}

.lecturer::-webkit-scrollbar-button {
    height: 16px;
}

.lecturerCard{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ;
}

.container{
    width: 45%;
    height: 20%;
    margin: 10px;
}
.container:hover .lecturerCard{
    transform: rotateY(180deg);
}

.frontCard{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.frontCard img{
    width: 75%;
}

.backCard{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background: #333;
    color: #fafafa;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}

/* Course description */
.description{
    grid-area: description;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
    margin: 0;
    padding: 20px;
}

.info-box {
    background-color: #222;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.info-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px white solid;
}

.info-item .icon {
    color: #DA0037;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-item .label {
    font-weight: bold;
    margin-right: 5px;
}

.info-item .value {
    flex: 1;
}

.info-box .info-item:last-child {
    margin-bottom: 0;
}

.overview{
    height: 100%;
    margin: 20px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.overview h1{
    text-align: center;
    margin: 40px 0px;
    font-size: 2.2em;
}

.overview p{
    font-size: 1.1em;
}

/*Footer*/
.footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px;
    flex-wrap: wrap;
}

.contactDetails ul {
    list-style: none;
    padding: 0;
}


.contactDetails li, .contactDetails a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.contactDetails a:hover, .socialIcons a:hover {
    color: red;
}
 
.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin:6px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #bb2626;
    transition: 0.5s;

}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;

} 

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color:rgb(42,47,54);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #da5252;
    text-decoration: none;
    cursor: pointer;
}

.modalBody {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #e9d53e;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: medium;
    font-weight: bolder;
}

form button:hover {
    background-color: rgb(168, 43, 43);
}