body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    height: 100%;
    overflow-x: hidden;
}

a {
    text-decoration:none;
    color: inherit;
}

header {
    background-image: url(Images/Belgium\ Landing\ Page.png) ;
    object-fit: cover;
    background-size: cover;
    background-position: center;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 0 20px;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

header p {
    font-size: 24px;
    max-width: 600px;
} 
/*Landing Image*/
.landing-page {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.landing-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 97.1%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px; 
    z-index: 3;
}

.navbar a {
    color: #fff;
    padding: 10px;
    border-radius: 4px;
}

.navbar a:hover {
    border-bottom: solid 2px red; 
}

.active{
    border-bottom: solid 2px red; 
    font-weight: bolder;
}


.logo-container {
    display: flex;
    align-items: center;
}

.logo-container :hover{
    cursor: pointer;
}

.logo-container img {
    max-width: 40px;
    margin-right: 10px;
    border-radius: 100px;
}

.logo-text {
    display: flex;
    flex-direction: column;
}

.logo-text h2 {
    margin: 0;
    padding: 0;
    font-family: 'Cursive', sans-serif;
    color: white;
    font-size: 14px; 
}

.logo-text h3 {
    margin: 0;
    padding: 0;
    font-family: 'Cursive', sans-serif;
    color: red;
    font-size: 12px; 
}

.nav-left {
    display: flex;
    align-items: center; 
    gap: 20px; 
}

.nav-right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 5px; 
    background-color: rgb(238, 238, 238);
}

.section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px 0; 
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.section:nth-child(even) {
    flex-direction: row-reverse;
} 

.section .content {
    flex: 1;
    padding: 100px;
    text-align:justify;
    font-size: larger;
    font-weight: bold;
}
.Image1{
    border-radius: 5px;
    width: 1000px;
    height:400px;
  
   
}

.video {
   margin-left: 40px;
    width: 840px;
    height: 490px;
    border-radius:30px;
}

.video-controls-hidden {
    display: none;
  }
  
  .video:hover .video-controls-hidden {
    display: block;
  }

.Image2{
    border-radius: 10px;
    width: 850px;
    height:490px;
}

#section2 .content-wrapper {
    display: flex;
    align-items: center;
}

#section2 .video {
    max-width: 45%; 
    margin-right: 20px;
}

/*Footer*/
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #333;
    color: #fff;
    padding: 10px;
    flex-wrap: wrap;
}

.contactDetails ul {
    list-style: none;
    padding: 0;
}


.contactDetails li, .contactDetails a {
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

.contactDetails a:hover, .socialIcons a:hover {
    color: red;
}
 
.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin:6px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #bb2626;
    transition: 0.5s;

}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;

} 





/* Responsive Design */
@media (max-width: 768px) {
    .section {
        flex-direction: column !important;
        text-align: center;
    }

    .section img {
        width: 80%;
    }

    .section .content {
        max-width: 100%;
    }
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar a {
        margin-top: 5px;
    }

    header {
        height: 50vh;
    }
}

/* Modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); 
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color:rgb(42,47,54);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    color: white;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #da5252;
    text-decoration: none;
    cursor: pointer;
}

.modalBody {
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form button {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #e9d53e;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: medium;
    font-weight: bolder;
}

form button:hover {
    background-color: rgb(168, 43, 43);
}

/*enrolment form*/

#enrollmentPage {
    grid-template-rows:7vh auto ;
    background-color: #2b2b2b; 
    color: white;
    font-family: sans-serif;
    margin:0; 
    padding:0;    
    justify-content: center;
    align-items: center;
    min-height: 100vh;
       
}

#StudentEnroll {
    grid-row: auto;
    background-color: #333;
    width: 60%; 
    max-width: 800px; 
    margin: 60px auto; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

#StudentEnroll h1 {
    text-align: center;
    margin-bottom: 20px;
}

#formGroup {
    display: flex;
    flex-direction: column;
    
}

#formGroup label {
    margin: 10px 0 5px;
}

#formGroup input[type="text"],
#formGroup input[type="email"],
#formGroup select {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: white;
   
}

#formGroup input[type="radio"] {
    margin-right: 5px;
    accent-color: red;
}

#formGroup .gender-group {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: lighter;
}
#formGroup .gender-group label {
    margin: 0; 
    display: flex;
    align-items: center;
}
#formGroup .attendance {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: lighter;
}
#formGroup .attendance label {
    margin: 0; 
    display: flex;
    align-items: center;
}

#formGroup button {
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

#formGroup button:hover {
    background-color: #ffa600;
}

/* enrollment modal*/

.background {
    filter: blur(5px);
}

#enrollModal {
    display: none;
    position: fixed;
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(8px); 
}

#mContent {
    background-color: #ffffff; 
    color: #333; 
    margin: 5% auto;
    padding: 30px;
    border-radius: 10px; 
    border: 2px solid #888; 
    width: 60%;
    max-width: 700px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#returnHome {
    background-color: #e74c3c; 
    color: #fff; 
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#returnHome:hover {
    background-color: #c0392b; 
}
#continueButton {
    background-color: #e74c3c; 
    color: #fff; 
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

#continueButton:hover {
    background-color: #c0392b; 
}
.dashboardContent{
    background-color: #bb2626;
    min-height: 100vh;
}