* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-areas:  "navbar navbar navbar"
                          "course search search"
                          "course module lecturer"
                          "course description lecturer"
                          "footer footer footer"
                          ;
    
    grid-template-rows: 5vh 7vh 70vh 30vh 20vh;
    grid-template-columns: 0.30fr 1fr 0.40fr;
}


.navbar {
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}
.navbar aactive{
   background-color: rgb(37, 36, 39);
    color: #bb2626;
    font-weight: bolder;
    transform: translateY(-5px);
    transition: 0.5s;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    font-weight: bolder;
    transform: translateY(-5px);
    transition: 0.5s;
}
.nav-left, .nav-right {
    display: flex;}

.nav-left{
    font-size: 20px;    
    padding-left: 20px;
}
.nav-left a:hover{
    border-bottom: solid 3px #bb2626;
}
.nav-left a{  
    margin-right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.courses{
    grid-area: course;
    background: #f6f6f6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   

}

.courses h1{
    margin-bottom: 10px;
}

.CourseIcon{
    width: 60px;
    height: 60px;
    background: #DA0037;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 1;
}

.card:hover .CourseIcon{
    box-shadow: 0 0 10px red;

}

.CourseIcon i{
    font-size: 1.5em;
}

.card p{
    margin: 0.5em 0;
    font-size: 0.8em;
    display: none;
    opacity: 0;
    transition: all .4s;
    z-index: 1;
}

.card:hover p{
    display: block;
    opacity: 1;
}

.card h3{
    margin-top: 0.5em;
    z-index: 1;
}

.card::before, .card::after{
    content: "";
    position: absolute;
    background: #171717;
    width: 100%;
    height: 40%;
    z-index: 0;
    border-radius: 15px 15px 0 0;
    transition: all .4s;

}

.card::before{
    top: 0;
}

.card:hover::before{
    transform: translateY(-20px);
}

.card::after{
    bottom: 10px;
    height: 60%;
    border-radius: 0 0 15px 15px;
}

.card{
    width: 250px;
    height: 200px;
    color: white;
    margin: 1em;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 1.5em;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.modules{
    grid-area: module;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 20px;
    overflow-y: scroll;
}


.module-card{
    background-color: whitesmoke;
    height: 200px;
    width: 180px;
    margin: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.856);
    border: #333 1PX solid;
}

.module-card .module-header{
    background-color: #2a8af8;
    border-bottom: #333 1px solid;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.module-card .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
}

.card-content p{
    text-align: center;
    padding: 10px 7px;
}

.card-content button{
    border: none;
    color: white;
    padding: 8px 16px;
    background-color: #4070F4;
    border-radius: 6px;
    /* margin: 10px; */
    cursor: pointer;
    transition: all 0.5s ease;
}

.card-content button:hover{
    background: #265DF2;
}

.search{
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar{
    width: max-content;
    display: flex;
    align-items: center;
    background: #f6f6f6;
    padding: 14px;
    border-radius: 28px;
    width: 600px;
    transition: box-shadow 0.25s;
}

.searchBar:focus-within{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
}

.search-input{
    color: #333333;
    font-size: 1.2em;
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    flex: 1;
}

.search-input::placeholder, .search-icon{
    color: rgba(0, 0, 0, 0.5) ;
}
.lecturer{
    grid-area: lecturer;
    background-color: cyan;
}

.description{
    grid-area: description;
    /* background-color: dimgray; */
}


.footer{
    grid-area: footer;
    background: #111;
    color: white;
    padding-top: 5px;

}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 6px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #bb2626;
    transition: 0.5s;

}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;

}

.contactDetails{
    text-align: center;
    display: flex;
    justify-content: center;
}

.contactDetails ul{
    list-style-type: none;
}

.contactDetails ul li{
    margin: 10px; 
}
.contactDetails ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

.contactDetails ul li a:hover{
    text-decoration: underline;
    color: #bb2626;

}