* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    display: grid;
    grid-template-rows: 10vh 6vh minmax(30vh, auto) 19vh;
}

.header{
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img{
    width: 120px;

}

.header h1{
    font-size: 50px;
}
.navbar {
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
}
.navbar aactive{
   background-color: rgb(37, 36, 39);
    color: #bb2626;
    font-weight: bolder;
    transform: translateY(-5px);
    transition: 0.5s;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:hover {
    font-weight: bolder;
    transform: translateY(-5px);
    transition: 0.5s;
}
.nav-left, .nav-right {
    display: flex;}

.nav-left{
    font-size: 20px;    
    padding-left: 20px;
}
.nav-left a:hover{
    border-bottom: solid 2px #bb2626;
}
.nav-left a{  
    margin-right:5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}
.nav-right:hover{
    outline :solid 3px #bb2626;
}

.section1, .section2{
    margin: 50px;
}
.section1{
    display:flex;
    align-items:flex-start;
}
section1.left-image{
width: 300px;
margin: right 50px;
}
.section1 h1, .section2 h1{
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #bb2626;
    width: 450px;
    margin-left: auto;
    margin-right: auto;

}

.section1 p, .section2 p{
    text-align: center;
    margin: 5px;
}     

.footer{
    grid-row: 4/5;
    background: #111;
    color: white;
    padding: 0px;

}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 6px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 1.5em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #bb2626;
    transition: 0.5s;

}

.socialIcons a:hover i{
    color: white;
    transition: 0.5s;

}

.contactDetails{
    text-align: center;
    display: flex;
    justify-content: center;
}

.contactDetails ul{
    list-style-type: none;
}

.contactDetails ul li{
    margin: 10px; 
}
.contactDetails ul li a{
    text-decoration: none;
    color: white;
    font-size: 1em;
    transition: 0.5s;
}

.contactDetails ul li a:hover{
    text-decoration: underline;
    color: #bb2626;

}
/*style the modal*/
.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000 ;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(42, 47, 54);

}
.modalContent{
    margin: 20% auto;
    padding: 25px;
    width: 40%;
    max-width: 500px;
    position: relative;
    text-align: center;
    color: white;

}
.close{
    color: #da5252;
    font-size: 24px;
    float: right;
    font-weight: bold;
}
.close:hover, .close:focus{
    color: #000;
    text-decoration: none;
    cursor:pointer;
}

.modalBody form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.modalBody hr{
    border: rgb(25, 26, 27);
    width: 100%;
    height: 30px;

}

.modalBody form label {
    text-align: left;
}

.modalBody form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
}
input:focus {
    outline: 2px solid rgb(202, 243, 37);
  }
  
.modalBody form button {
    width: 90px;
    padding: 5px;
    border: none;
    border-radius: 30px;
    background-color: #e9d53e;
    color: white;
    cursor: pointer;
}

.modalBody form button:hover {
    background-color: #aa2929;
}